@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,900&display=swap");

:root {
  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-cyan: #25564b;
  --dark-blue: #19536b;
  /* (photography text) */
  --moderate-cyan: #458c7e;
  /* (footer) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* HERO */

.hero-img {
  width: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Fraunces", serif;
  color: #000;
  font-size: 2.3rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}

/* ARTICLE SECTION */

h2 {
  font-family: "Fraunces", serif;
  font-weight: bold;
}

.article-img {
  width: 100%;
}

/* CLIENT TESTIMONIALS SECTION */

.client-testimonials-section {
  text-align: center;
}

.client-testimonials-section h3 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}

.client-img {
  border-radius: 50%;
}

/* GALLERY SECTION */
.gallery-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery-img {
  width: 100%;
}
/* FOOTER */

.footer {
  background-color: var(--moderate-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* UTILITY */

@media (min-width: 376px) {
  .article {
    display: flex;
  }

  .article-img {
    padding: 0;
    margin: 0;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .gallery-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
