@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,900&display=swap");

:root {
  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-cyan: #25564b;
  --dark-blue: #19536b;
  /* (photography text) */
  --moderate-cyan: #458c7e;
  /* (footer) */
  --very-dark-blue: #23303e;
  --dark-greyish-blue: #5a636c;
  --warm-greyish-blue: #818498;
  --greyish-blue: #a7abae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* HERO */

.hero-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

.hamburger-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  top: 3%;
  right: 3%;
}

.bar {
  width: 100%;
  background-color: #fff;
  height: 3px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 1.1rem;
  color: #fff;
  font-size: 2.3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ARTICLE SECTION */

h2 {
  font-family: "Fraunces", serif;
  font-weight: bold;
  margin-bottom: 1em;
}

/* Making sure that text is placed on top of cherry and orange images */

.article-section {
  display: grid;
  grid-template-columns: 1fr;
}

.article {
  position: relative;
}

.article-text {
  padding: 1.5em;
}

.article-text,
.article-text-fixed {
  text-align: center;
}

.article-text-fixed {
  position: absolute;
  bottom: 3em;
  padding: 0 1em;
}

.article-text-fixed > h2 {
  padding-bottom: 0.2em;
}

.article-img,
.article-text {
  width: 100%;
}

.article-btn {
  font-family: "Fraunces", serif;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  margin-top: 2em;
}

/* CLIENT TESTIMONIALS SECTION */

.client-testimonials-section {
  text-align: center;
}

.client-testimonials-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
}

.client-testimonials-section h3 {
  font-family: "Fraunces", serif;
  color: var(--greyish-blue);
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 2em 0 4em 0;
  letter-spacing: 0.2rem;
}

.individual-client-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.client-img {
  border-radius: 50%;
  width: 30%;
  margin-bottom: 2em;
}

.client-quote-block {
  margin-bottom: 3.5em;
}

.client-quote {
  margin-bottom: 1.5em;
}

.client-name > p {
  font-family: "Fraunces", serif;
  margin-bottom: 0.3em;
}

.client-title {
  font-weight: light;
  display: block;
  color: var(--greyish-blue);
}

/* GALLERY SECTION */
.gallery-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery-img {
  width: 100%;
}
/* FOOTER */

.footer {
  background-color: var(--moderate-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media (min-width: 376px) {
  h1 {
    white-space: nowrap;
  }

  .article-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  .transform {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .egg {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .red-glass {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .stand-out {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .article-text {
    /* width: 50vw; */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article-text > p {
    padding: 1em 3em;
  }

  .client-testimonials-wrapper {
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
  }

  .individual-client-container {
    width: 250px;
    margin-right: 2em;
  }

  .individual-client-container:last-child {
    margin-right: 0em;
  }

  .gallery-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
